flows final.json
[
    {
        "id": "e450cb59c95fee41",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ad593c70d77187c4",
        "type": "http request",
        "z": "e450cb59c95fee41",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.thingspeak.com/channels/2797645/feeds.json?api_key=FSIX45R91V813OJP&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 780,
        "wires": [
            [
                "2d91e9aedc504c36"
            ]
        ]
    },
    {
        "id": "b70469118b081b64",
        "type": "inject",
        "z": "e450cb59c95fee41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "{\"temperature\": 22, \"humidity\": 60}",
                "vt": "json"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "ad593c70d77187c4"
            ]
        ]
    },
    {
        "id": "2d91e9aedc504c36",
        "type": "json",
        "z": "e450cb59c95fee41",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 920,
        "wires": [
            [
                "040b7b63868a70b5",
                "2208ede11ef77a98",
                "55cd648cca5a6d04",
                "6dd35d84444f6f42",
                "862869b9723e451a",
                "252204bb45a3b778",
                "753ffe61b01d5cf8"
            ]
        ]
    },
    {
        "id": "040b7b63868a70b5",
        "type": "debug",
        "z": "e450cb59c95fee41",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2208ede11ef77a98",
        "type": "change",
        "z": "e450cb59c95fee41",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.feeds[0].field1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 660,
        "wires": [
            [
                "b3e3e560b2802a99",
                "6dd35d84444f6f42"
            ]
        ]
    },
    {
        "id": "55cd648cca5a6d04",
        "type": "change",
        "z": "e450cb59c95fee41",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.feeds[0].field2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 840,
        "wires": [
            [
                "43cee9fd89d9315f",
                "862869b9723e451a"
            ]
        ]
    },
    {
        "id": "6dd35d84444f6f42",
        "type": "switch",
        "z": "e450cb59c95fee41",
        "name": "Temperature Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "msg.payload.field1>30",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 980,
        "wires": [
            [
                "523cd15f67f507ef"
            ]
        ]
    },
    {
        "id": "862869b9723e451a",
        "type": "switch",
        "z": "e450cb59c95fee41",
        "name": "Humidity Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "msg.payload.field2>50",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 1280,
        "wires": [
            [
                "e92d742772f9696e"
            ]
        ]
    },
    {
        "id": "252204bb45a3b778",
        "type": "function",
        "z": "e450cb59c95fee41",
        "name": "Minio ",
        "func": "msg.bucket = \"iot-sensor-data\";  // Replace with your MinIO bucket\nmsg.filename = \"sensor-data.json\"; // The name of the file to be stored\nmsg.payload = JSON.stringify({\n    temperature: msg.payload.field1,\n    humidity: msg.payload.field2\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1100,
        "wires": [
            [
                "83cbf209ca8cc81f"
            ]
        ]
    },
    {
        "id": "753ffe61b01d5cf8",
        "type": "mqtt out",
        "z": "e450cb59c95fee41",
        "name": "",
        "topic": "iot/sensors",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9815b49a7e361a96",
        "x": 350,
        "y": 1280,
        "wires": []
    },
    {
        "id": "83cbf209ca8cc81f",
        "type": "amazon s3 put",
        "z": "e450cb59c95fee41",
        "aws": "",
        "bucket": "iot-sensor-data",
        "filename": "msg.filename",
        "localFilename": "",
        "contentType": "",
        "contentEncoding": "",
        "region": "eu-west-1",
        "isBase64": "",
        "name": "minio",
        "acl": "",
        "outputs": 1,
        "x": 595,
        "y": 1240,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "523cd15f67f507ef",
        "type": "ui_text_input",
        "z": "e450cb59c95fee41",
        "name": "",
        "label": "High Temperature Alert!",
        "tooltip": "",
        "group": "961db3a448f22b03",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "{{msg.payload}}",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1270,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "e92d742772f9696e",
        "type": "ui_text_input",
        "z": "e450cb59c95fee41",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "961db3a448f22b03",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "{{msg.payload}}",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1210,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "43cee9fd89d9315f",
        "type": "ui_gauge",
        "z": "e450cb59c95fee41",
        "name": "",
        "group": "584e0cd8ad843ca0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "°C",
        "format": "{{msg.payload.field2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1200,
        "y": 820,
        "wires": []
    },
    {
        "id": "b3e3e560b2802a99",
        "type": "ui_gauge",
        "z": "e450cb59c95fee41",
        "name": "",
        "group": "584e0cd8ad843ca0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{msg.payload.field1}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 720,
        "wires": []
    },
    {
        "id": "9815b49a7e361a96",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.23.9.159",
        "port": "30938",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "961db3a448f22b03",
        "type": "ui_group",
        "name": "High Temperature Alert!",
        "tab": "e0c10790315807e8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "584e0cd8ad843ca0",
        "type": "ui_group",
        "name": "Default",
        "tab": "fd1645be5b24220a",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0c10790315807e8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fd1645be5b24220a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]